doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles/style.css")
    body 
     include modules/header
        header
            nav
                ul
                    li
                        a Каталог
                    li
                        a Подробнее
                    li
                        a О нас
                    li
                        a Новости
                         h2 Новинки литературы
        div.line-images
            div.images
                img(src="img/1.webp", alt="")
                button Подробнее
            div.images
                img(src="img/2.webp", alt="")
                button Подробнее
            div.images
                img(src="img/3.webp", alt="")
                button Подробнее
                 footer
            | Экзаменационная работа студента группы ИСП21.2А span Сазоновой Марии
        include modules/footer