doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="styles/style.css")
    body 
        include modules/header
        header
            nav
                ul
                    li
                        a Каталог
                    li
                        a Подробнее
                    li
                        a О нас
                    li
                        a Новости
        div.banner
            img(src="img/banner.jpg", alt="")
        h2 Новинки литературы
        div.line-images
            div.images
                img(src="img/1.webp", alt="")
                button Подробнее
            div.images
                img(src="img/2.webp", alt="")
                button Подробнее
            div.images
                img(src="img/3.webp", alt="")
                button Подробнее
        h2 Услуги
        div.container
            div.text
                p Дружелюбие, комфорт и масса хорошего настроения – вот услуги нашей компании. А ещё это новые знакомства,
                    интересные события и приятные 
                    br 
                    сюрпризы.
                h3 Подарочные карты
                ul
                    li 500 рублей
                    li 1 000 рублей
                    li 2 000 рублей
                    li 3 000 рублей
                    li 5 000 рублей
                p Если не знаете что подарить или на поиски не хватает времени,  
                    подарочная карта – лучший выбор.
                p Срок действия карты 1 год, вы можете купить её в ближайшем магазине «Читай-город». Более подробная
                    информация – в правилах использования подарочных карт.
                p Вы можете заказать подарочные карты для своей компании. Напишите нам через форму обратной связи, и мы
                    расскажем,
                    как это сделать.
                p Специально для маленьких читателей мы сделали «Личную карту читай-агента». С ней ребёнок полюбит чтение,
                    ведь он сам сможет выбрать и 
                    br 
                    купить книги в магазине.
        div.table
            div.container
                h2 Акции
                table
                    tr
                        th(colspan="1") Название
                        th(colspan="1") Период проведения
                        th(colspan="1") Где проводится
                        th(colspan="4") Скидка
                    tr
                        td День рождение Супермена
                        td(rowspan="2") 01.06-06.06
                        td(rowspan="2") Интернет-магазин
                        td -22% на подборку комиксов
                    tr
                        td Топ-100 фэнтези-романов
                        td -20% на подборку книг Мосян Тунсю, Терри Пратчетта и Лии Арден
                    tr
                        td Книжный фестиваль "Красная площадь"
                        td 01.06-07.06
                        td Интернет-магазин
                        td –25% при покупке от трёх книг;
                            br 
                            –30% при покупке от четырёх книг.
                    tr
                        td Тяните карту!
                        td 15.05-16.07
                        td Магазины сети
                        td Всем, кто сделает покупку от 700 рублей в магазинах сети, мы подарим 
                            индивидуальный штрихкод. Сотрите с него защитный слой – вас ждут скидки от 20 до 50%.
        footer
            | Экзаменационная работа студента группы ИСП21.2А span Сазоновой Марии
        include modules/footer